func (c *EtcdClient) Get(ctx context.Context, id string) (*User, error) {
	key := fmt.Sprintf("/users/{id}", id)
	resp, err := c.client.Get(ctx, key)
	if err != nil {
		return nil, err
	}
	if len(resp.Kvs) == 0 {
		return nil, fmt.Errorf("ключ не найден")
	}
	return &User{ /* распарсить значение */ }, nil
}

{{ range $index, $element := .RequestParams.params }}{{ if $index}},{{end}}{{.$element }}{{end}}