const (
    serviceNamePrefix = "{{.KeyPrefix}}"
)

// EtcdClient предоставляет методы для работы с etcd
type EtcdClient struct {
	client *clientv3.Client
}

type EtcdConfig struct {
    Endpoints []string
    DialTimeout int64
    Username string
    Password string
}

func NewEtcdClient(cfg *EtcdConfig) (*EtcdClient, error) {
    if cfg == nil {
        return fmt.Errorf("empty config")
    }

	cli, err := clientv3.New(clientv3.Config{
		Endpoints:   cfg.Endpoints,
		DialTimeout: cfg.DialTimeout,
		Username:    cfg.Username,
        Password:    cfg.Password,
	})
	if err != nil {
		return nil, err
	}
	return &EtcdClient{client: cli}, nil
}
