const (
    serviceNamePrefix = "{{.KeyPrefix}}"
)

var (
    ErrorClientEmptyConfig = {{$.Imports.errors "New"}}("empty config")
    ErrorKeyNotFound = {{$.Imports.errors "New"}}("key not found")
)

// EtcdClient предоставляет методы для работы с etcd
type EtcdClient struct {
	client *{{$.Imports.clientv3.Ident "Client"}}
}

type EtcdConfig struct {
    Endpoints []string
    DialTimeout {{$.Imports.time "Duration"}}
    Username string
    Password string
}

func NewEtcdClient(cfg *EtcdConfig) (*EtcdClient, error) {
    if cfg == nil {
        return nil, ErrorClientEmptyConfig
    }

	cli, err := {{$.Imports.clientv3.Ident "New"}}({{$.Imports.clientv3.Ident "Config"}}{
		Endpoints:   cfg.Endpoints,
		DialTimeout: cfg.DialTimeout,
		Username:    cfg.Username,
        Password:    cfg.Password,
	})
	if err != nil {
		return nil, err
	}
	return &EtcdClient{client: cli}, nil
}
