func (c *EtcdClient) Get{{.MethodName}}(ctx {{$.Imports.context.Ident "Context"}}, rq *{{.InputRequest.GoName}}) (resp *{{.ValueOfKey.GoName}}, err error) {
	key := {{.KeyPathComplex}}
	respEtcd, err := c.client.Get(ctx, key)
	if err != nil {
		return nil, err
	}

	for _, v := range respEtcd.Kvs {
		err = json.Unmarshal(v.Value, resp)
		if err != nil {
			return nil, err
		}
		return resp, nil
	}

	return nil, ErrorKeyNotFound
}
